build/
install/
log/
.ros/
*.bag
*.db3
*.ulg
*.log
data/logs/*
!data/logs/.gitkeep
data/results/*
!data/results/.gitkeep
data/training/*
!data/training/.gitkeep
data/screenshots/*
!data/screenshots/.gitkeep
.DS_Store
.vscode/
